<div class="c-container">
  <mat-card class="c-card">
    <mat-card-title class="u-text-align--center"> Boas-vindas ao Edu Predict! </mat-card-title>
    <mat-card-subtitle class="u-text-align--center">
      Este é o Edu Predict, um projeto que usa Machine Learning para determinar um índice de potencial evasão de
      estudantes da UFPR.
    </mat-card-subtitle>
    <mat-card-content>
      <img src="assets/education.svg" alt="Login" />
    </mat-card-content>
  </mat-card>
  <mat-card class="c-card">
    <mat-card-title class="u-text-align--center">Login</mat-card-title>
    <mat-card-subtitle class="u-text-align--center">Utilize seu email institucional da UFPR</mat-card-subtitle>
    <mat-card-content>
      <form class="u-display--flex u-flex-direction--column" [formGroup]="form">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput type="email" id="email" formControlName="email" required />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Senha</mat-label>
          <input matInput type="password" id="password" formControlName="password" required />
        </mat-form-field>
        <app-submit-button
          class="u-display--flex"
          label="Entrar"
          [disabled]="!form.valid"
          (click)="submitLogin()"
          [loading]="isLoading"></app-submit-button>
        <button mat-button type="button" color="primary" (click)="goToRecoverPage()">Esqueceu a senha?</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
