<div class="c-container">
  <mat-card class="c-card">
    <mat-card-title class="u-text-align--center"> Digite o email institucional cadastrado </mat-card-title>
    <mat-card-content>
      <form class="u-display--flex u-flex-direction--column" [formGroup]="form">
        <mat-form-field appearance="fill">
          <mat-label>Email instituicional</mat-label>
          <input matInput type="email" id="email" formControlName="email" required />
          <mat-error *ngIf="form.hasError('required', 'email')"> O campo email é obrigatório </mat-error>
          <mat-error *ngIf="form.hasError('email', 'email')"> O email digitado é inválido </mat-error>
        </mat-form-field>
        <app-submit-button
          class="u-display--flex"
          label="Enviar"
          [disabled]="!form.valid"
          (click)="sendEmail()"
          [loading]="isLoading"></app-submit-button>
        <button mat-button color="primary" (click)="goToLoginPage()">Voltar ao login</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
