<div class="c-container">
  <mat-card class="c-card">
    <mat-card-title class="u-text-align--center"> Definir senha </mat-card-title>
    <mat-card-content>
      <form class="u-display--flex u-flex-direction--column" [formGroup]="form">
        <mat-form-field appearance="fill">
          <mat-label>Senha</mat-label>
          <input matInput type="password" id="password" formControlName="password" required />
          <mat-error *ngIf="form.hasError('required', 'password')"> O campo senha é obrigatório </mat-error>
          <mat-error *ngIf="form.hasError('minlength', 'password')">
            O campo senha deve conter no mínimo seis caracteres
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Confirmar senha</mat-label>
          <input
            matInput
            type="password"
            id="confirmPassword"
            formControlName="confirmPassword"
            [errorStateMatcher]="matcher" />
          <mat-error *ngIf="form.hasError('notSame')">As senhas não correspondem</mat-error>
        </mat-form-field>
        <app-submit-button
          class="u-display--flex"
          label="Salvar"
          [disabled]="!form.valid"
          (click)="submitPassword()"
          [loading]="isLoading"></app-submit-button>
        <button mat-button color="primary" (click)="goToLoginPage()">Voltar ao login</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
