.container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: calc(100vh - 64px);
  /* 96px is the height of the toolbar + the paddings from the card */
}

mat-card {
  flex: 1;
  margin: 1rem;
  justify-content: center;
  padding: 3rem;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

mat-card-header {
  display: flex;
  flex-direction: column;
}

mat-card-title {
  margin-bottom: 1rem;
  font-size: 1.2vw;
}

mat-card-subtitle {
  font-size: 1vw;
  line-height: 2vw;
  word-wrap: break-word;
}

img {
  margin: 2rem;
  max-width: 60%;
  height: auto;
  align-self: center;
}
