.c-card {
  flex: 1;
  margin: 1rem;
  justify-content: center;
  padding: 2rem;

  mat-card-title {
    font-size: 1.5vw;
    margin: 2vh;
  }

  mat-card-subtitle {
    font-size: 1.2vw;
    line-height: 1.5vw;
    margin-bottom: 2vh;
  }

  mat-card-content {
    display: flex !important;
    flex-direction: column;

    img {
      margin: 2vh;
      height: auto;
      align-self: center;
    }
  }

  button {
    margin-top: var(--space-regular);
  }
}